<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<style>
    .text-center h2 {
        color: #ffffff;
    }

    .text-center p {
        color: whitesmoke ;
    }

    .card {
        width: 850px;
        height: 25px;
        margin: auto;
        float: none;
        background-color: transparent;
    }

    .nav-link h4 {
        color: #ffffff;
    }

    .nav-tabs {
        border-bottom: none !important;
        height: 50px;
    }

    .card-business {
        background-color: #ffffff;
        width: 849px;
        height: auto;
        float: none;
        margin-left: 2px !important;
        margin-top: 0px !important;

    }
    .profile-btn{
        width: 150px;
        margin: auto;
        color: #fff;
        background-color: #0c4767
    }

   .fa {
       color: #0c4767;
       font-size: 20px;
   }

    .image-border {
        border: 1px solid black;
    }


</style>


<div class=" " style="background-image:url('../../vendors/img/laptop-with-overlay.png'); padding-bottom: 800px; padding-top: 80px ">

            <div class="col-md-12">
                <div class="text-center justify-content-center">
                    <h2>Add Profile</h2>
                    <p class="text-center ">Your profile lets freelancers get to know more about you. Complete your profile to get started on Connect</p>
                </div>
            </div>



    <div class="col-md-12">
        <div class="card justify-content-center">
            <div class="card text-white mb-3">

                <div class="card-header justify-content-center mb-3" style="background-color: #0c4767; height: 50px; padding: 0">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link mr-5 ml-5" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal Details</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                            <form action="/user/update-individual-profile" method="POST" enctype="multipart/form-data" class="form-row justify-content-center">
                                <input name="id" id="id" placeholder="" type="text" class="form-control" value="<%=user.id%>" hidden><br />

                                <div class="card-business ml-3 mt-1" >

                                    <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                                        <%if(individualuser.picture!==null && user.RoleId === 2){%>
                                            <div class="col-md-3 mt-5">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <img class="image-border" src="../../images/users/individual/<%=individualuser.picture%>" alt="Profile Photo" id="profile" width="120" height="120">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="color:blue;">
                                                        <label class="">
                                                            <input class="text-center m-auto" hidden type="file" id="picture" name="picture" onchange="readURL(this)" value="Add Photo" accept="image/*">
                                                            Upload Picture
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }else{ %>
    
                                                <div class="col-md-3 mt-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <img class="image-border" src="../../images/users/individual/avatar.png" alt="Profile Photo" id="profile2" width="120" height="120">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12" style="color:blue;">
                                                            <label class="">
                                                                <input class="text-center m-auto" hidden type="file" id="picture" name="picture" onchange="readURL(this)" value="Add Photo" accept="image/*">
                                                                Upload Picture
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %> 


                                        <div class="col-md-9">

                                            <div class="form-row mt-4">
                                                <div class="form-group col-md-6">
                                                  <label for="firstname">First Name</label>
                                                  <input type="text" onautocomplete="off" name="firstname" id="firstname" value="<%=individualuser.firstname%>"  class="form-control" placeholder="" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                  <label for="lastname">Last Name</label>
                                                  <input type="text" onautocomplete="off" name="lastname" id="lastname" value="<%=individualuser.firstname%>" class="form-control" placeholder="" required>
                                                </div>  
  
                                            </div>


                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="golden_paragraph">Golden Paragraph</label>
                                                    <textarea type="text" class="form-control" id="golden_paragraph" name="golden_paragraph" value="<%=individualuser.golden_paragraph%>" placeholder="Write your personal summary here..." required></textarea>
                                                </div>
                                            </div>


                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="dob">Date of Birth</label>
                                                    <input type="date" name="dob" id="dob" class="form-control" value="<%=individualuser.dob%>" onfocusout="AgeValidate()" placeholder="" required>
                                                  </div>
                                                <div class="form-group col-md-6 ">
                                                    <label for="gender" class="">Gender: </label>
                                                    <select id="gender" name="gender" class="custom-select form-control">
                                                        <option value="male" <%if(individualuser.gender == "male"){%>
                                                                selected<%}%> >Male</option>
                                                        <option value="female" <%if(individualuser.gender == "female"){%>
                                                                selected<%}%> >Female</option>
                                                        <option value="p" <%if(individualuser.gender == "p"){%>
                                                                selected<%}%> >Prefer not to disclose </option>
                                                    </select>
                                              </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="country">Country</label>>
                                                    <select name="country" id="country" class="custom-select form-control">
                                                        <option value="<%=individualuser.country%>" selected><%=individualuser.country%></option>
                                                        <% country.map(c =>{ %>
                                                        <option value="<%=c.name%>"><%=c.name%></option>
                                                        <% }); %>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="city">City</label>
                                                    <input type="text" name="city" id="city" class="form-control" value="<%=individualuser.city%>" placeholder="Eg: Munich" required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="email">Email</label>
                                                    <input type="text" name="email" id="email" class="form-control" value="<%=user.email%>" readonly>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="phone">Phone</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                          <input class="input-group-text" name="country_code" id="country_code" value="<%=individualuser.country_code%>" style="font-size: 15px;" readonly>
                                                        </div>
                                                        <input type="text" name="phone" id="phone" value="<%=individualuser.phone%>" class="form-control" placeholder="eg: 000-000-000" aria-label="phonenumber" maxlength="9" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row ">    
                                        <div class="col-md-12 mb-5">
                                            <button type="submit" name="save" class="form-control profile-btn">Save</button>
                                        </div>  
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



  <% include ../layout/footer-public.ejs %>



