<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/profile_style.css" />


<div class=" " style="background-image:url('../../vendors/img/laptop-with-overlay.png'); padding-bottom: 850px; padding-top: 10px ">

    <div class="container" style="width: fit-content; height: max-content;">
            <div class="col-md-12">
                <div class="text-center justify-content-center">
                    <h2 style="color: #fff;">Add Profile</h2>
                    <p class="text-center " style="color: #fff;">Your profile says a lot about you to clients. Complete your profile to get started on Connect</p>
                </div>
            </div>
            


    <div class="col-md-12">
        <div class="card justify-content-center">
            <div class="card text-white mb-3">

                <div class="card-header justify-content-center mb-3" style="background-color: #0c4767; height: 50px; padding: 0">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <p class="nav-item nav-link mr-5 ml-5 active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal Details</a>
                            <p class="nav-item nav-link mr-5 ml-5 text-muted" id="nav-contact-tab" aria-selected="false">Portfolio</a>
                            <p class="nav-item nav-link mr-5 ml-5 text-muted" id="nav-contact-tab" aria-selected="false">Skills & Certificate</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form action="/user/update-individual-profile" method="POST" enctype="multipart/form-data" class="form-row justify-content-center">
                                <input name="id" id="id" placeholder="" type="text" class="form-control" value="<%=user.id%>" hidden><br />
                                <div class="card-business ml-3 mt-1" >

                                    
                                    <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                                        <%if(individualuser.picture!==null && user.RoleId === 2){%>
                                            <div class="col-md-3 mt-5">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <img class="image-border" src="../../images/users/individual/<%=individualuser.picture%>" alt="Profile Photo" id="profile" width="120" height="120">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="color:blue;">
                                                        <label class="">
                                                            <input class="text-center m-auto" hidden type="file" id="picture" name="picture" onchange="readURL(this)" value="Add Photo" accept="image/*">
                                                            Upload Picture
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }else{ %>
    
                                                <div class="col-md-3 mt-5">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <img class="image-border" src="../../images/users/individual/avatar.png" alt="Profile Photo" id="profile2" width="120" height="120">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12" style="color:blue;">
                                                            <label class="">
                                                                <input class="text-center m-auto" hidden type="file" id="picture" name="picture" onchange="readURL(this)" value="Add Photo" accept="image/*">
                                                                Upload Picture
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %> 


                                        <div class="col-md-9">

                                            <div class="form-row mt-4">
                                                <div class="form-group col-md-6">
                                                  <label for="firstname">First Name</label>
                                                  <input type="text" onautocomplete="off" name="firstname" id="firstname" value="<%=individualuser.firstname%>"  class="form-control" placeholder="" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                  <label for="lastname">Last Name</label>
                                                  <input type="text" onautocomplete="off" name="lastname" id="lastname" value="<%=individualuser.lastname%>" class="form-control" placeholder="" required>
                                                </div>  
  
                                            </div>


                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="jobtitle">Job Title</label>
                                                    <input type="text" onautocomplete="off" name="jobtitle" id="jobtitle" value="<%=individualuser.jobtitle%>" class="form-control" placeholder="Eg: Web Designer" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                  <label for="availability">Availability</label>
                                                  <select id="availability" name="availability" class="custom-select form-control">
                                                    <option value="Full-Time" <%if(individualuser.availability == "Full-Time"){%>
                                                            selected<%}%> >Full-Time</option>
                                                    <option value="Part-Time" <%if(individualuser.availability == "Part-Time"){%>
                                                            selected<%}%> >Part-Time</option>
                                                </select>
                                              </div>
                                            </div>



                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="golden_paragraph">Golden Paragraph</label>
                                                    <textarea type="text" class="form-control" id="golden_paragraph" name="golden_paragraph" value="<%=individualuser.golden_paragraph%>" placeholder="Write your personal summary here..." required></textarea>
                                                </div>
                                            </div>


                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="dob">Date of Birth</label>
                                                    <input type="date" name="dob" id="dob" class="form-control" value="<%=individualuser.dob%>" onfocusout="AgeValidate()" placeholder="" required>
                                                  </div>
                                                <div class="form-group col-md-6 ">
                                                    <label for="gender" class="">Gender: </label>
                                                    <select id="gender" name="gender" class="custom-select form-control">
                                                        <option value="male" <%if(individualuser.gender == "male"){%>
                                                                selected<%}%> >Male</option>
                                                        <option value="female" <%if(individualuser.gender == "female"){%>
                                                                selected<%}%> >Female</option>
                                                        <option value="p" <%if(individualuser.gender == "p"){%>
                                                                selected<%}%> >Prefer not to disclose </option>
                                                    </select>
                                              </div>
                                            </div>


                                            

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="country">Country</label>>
                                                    <select name="country" id="country" class="custom-select form-control">
                                                        <option value="<%=individualuser.country%>" selected><%=individualuser.country%></option>
                                                        <% country.map(c =>{ %>
                                                        <option value="<%=c.name%>"><%=c.name%></option>
                                                        <% }); %>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="city">City</label>
                                                    <input type="text" name="city" id="city" class="form-control" value="<%=individualuser.city%>" placeholder="Eg: Munich" required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="email">Email</label>
                                                    <input type="text" name="email" id="email" class="form-control" value="<%=user.email%>" readonly>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label for="phone">Phone</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <input class="input-group-text" name="country_code" id="country_code" value="<%=individualuser.country_code%>" style="font-size: 15px; width: 60px;" readonly>
                                                        </div>
                                                        <input type="text" class="form-control"  name="phone" id="phone" value="<%=individualuser.phone%>"  placeholder="eg: 000-000-000" aria-label="phonenumber" maxlength="9" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
               
                                            </div>

                                        </div>  
                                    </div>
                                    <div class="form-row ">    
                                        <div class="col-md-12 mb-5">
                                            <button type="submit" name="save" class="form-control profile-btn">Save & Continue</button>
                                        </div>  
                                    </div>
                                </div>
                            </form>

                        </div>
             
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

    <%include ../layout/footer-public.ejs %>
