
<link rel="stylesheet" type="text/css" href="/vendors/css/job-table.css"/>
<link rel="stylesheet" type="text/css" href="/vendors/css/job-view-modal.css"/>


<div class="row mb-2">
    <div class="col-md-12" id='jobApplied' style="display: none;">
        <p><%=jobAppCount%> Jobs Applied</p>  
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Applied</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobApps.map(j =>{ %>
              <tr>
                <td><%=j.Job.title%></td>
                <td><%=j.Job.createdAt.toDateString()%></td>
                <td>$<%=j.Job.price%></td>
                <td><button class="status-button pending-button">
                  <%=j.status%>
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="/user/job-view/<%=j.Job.id%>">View Details</a>
                        <a href="/user/delete-job-application/<%=j.Job.id%>">Delete</a>
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    
    
    <div class="col-md-12" id="jobAwarded" style="display: none;">
        <p><%=jobAwarded%> Jobs Awarded</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobsAwarded.map(j =>{ %>
              <tr>
                <td><%=j.Job.title%></td>
                <td><%=j.Job.createdAt.toDateString()%></td>
                <td>$<%=j.Job.price%></td>
                <td><button class="status-button accepted-button">
                    Awarded
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Go to workspace</a>
                        <a class="text-muted" href="#">Accept</a>
                        <a class="text-muted" href="#">Decline</a>
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    <div class="col-md-12" id="jobProgress" style="display: none;">
        <p><%=jobInproCount%> Jobs in progress</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobsInproCount.map(j =>{ %>
              <tr>
                <td><%=j.Job.title%></td>
                <td><%=j.Job.createdAt.toDateString()%></td>
                <td>$<%=j.Job.price%></td>
                <td><button class="status-button pending-button">
                    Ongoing
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Mark as Complete</a>
                        <a href="#">Go to Workspace</a>
                        <a href="#">Withdraw</a>
                      
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    
    <div class="col-md-12" id="jobComplete" style="display: none;">
        <p><%=jobCompCount%>  Job completed</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobsCompCount.map(j =>{ %>
              <tr>
                <td>Design Mobile App UI</td>
                <td>15/07/2020</td>
                <td>Alex Amankwa</td>
                <td><button class="status-button accepted-button">
                    completed
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Request Payment</a>
                        <a href="#">Go to Workspace</a>
                        <a href="#">Delete</a>
                      
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>    
</div>





                  <!-- MODAL FOR VIEWING OF JOB DETAILS COMES HERE -->




                  <div class="modal text-center" id="viewjobModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-title">
                          <h3 class="modal-title mt-2" >Job Details</h3>
                         
                        </div>

                        <div class="modal-body">

                          <div class="row">

                            <div class="col-md-5">
                              <div class="card view-modal-card">
                                <div class="card-body text-center">
                                  <img src='../../vendors/img/1.jpg' class="modal-job-view-img mt-3 mb-3" alt="...">

                                  <div class="">
                                    <h5>Micheal Larbo</h5>
                        
                                    <div>
                                        <h5>Software Developer</h5>
                                    </div>
                        
                                    <div>
                                        <span ><i class="fa fa-map-marker mb-5" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                    </div>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-7">
                              <div>
                                <h4 class="text-muted col-md-12 mt-2">Description</h4>
                            </div>
        
                            <div class="col-md-12">
                                <h6 class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem alias sapiente in excepturi sint ab, id ullam voluptatem incidunt placeat dolorem minima doloremque doloribus quisquam?</h6>
                            </div>
        
                            <h4 class="text-muted col-md-12 mt-5" style="float: left; color: #373833;">Skills Required</h4>
        
                            <div class="col-md-12 justify-content-around mb-5">
                                <div class="col-md-3 mr-1  badge badge-secondary">
                                    Java
                                </div>
                                <div class="col-md-3 mr-1  badge badge-secondary">
                                    ASP.Net
                                </div>
                                <div class="col-md-3 mr-1 badge badge-secondary">
                                    Python
                                </div>
        
                            </div>
        
                            </div>
                          </div>
                          
                        </div>
        
                        
                       
                      </div>
                    </div>
                </div>