<link rel="stylesheet" type="text/css" href="/vendors/css/job-table.css"/>
<div class="row mb-2">
    <div class="col-md-12" id='jobApplied' style="display: none;">
        <p><%=jobAppCount%> Jobs Applied</p>  
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Applied</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobApps.map(j =>{ %>
              <tr>
                <td><%=j.Job.job_title%></td>
                <td><%=j.Job.createdAt.toDateString()%></td>
                <td>$<%=j.Job.job_price%></td>
                <%if( j.Job.job_status === 'awarded'){%>
                  <td><button class="status-button accepted-button">
                    Awarded
                </button></td>
               <% }else{%>
                <td>
                  <button class="status-button pending-button">
                  <%=j.application_status%>
                </button></td>
               <% }%>  
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="/user/job-view/<%=j.Job.id%>">View Details</a>
                        <a href="/user/delete-job-application/<%=j.Job.id%>">Delete</a>
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    
    
    <div class="col-md-12" id="jobAwarded" style="display: none;">
        <p><%=jobAwarded%> Jobs Awarded</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobsAwarded.map(j =>{ %>
              <tr>
                <td><%=j.Job.job_title%></td>
                <td><%=j.Job.createdAt.toDateString()%></td>
                <td>$<%=j.Job.job_price%></td>

                <%if( j.Job.job_status === 'awarded'){%>
                  <td><button class="status-button accepted-button">
                    Awarded
                </button></td>
               <% }else if(j.Job.job_status === 'accepted'){%>
                  <td><button class="status-button accepted-button">
                    Accepted
                </button></td>
               <% }%>  

                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Go to workspace</a>
                        <a class="text-muted" href="#">Accept</a>
                        <a class="text-muted" href="#">Decline</a>
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    <div class="col-md-12" id="jobProgress" style="display: none;">
        <p><%=jobInproCount%> Jobs in progress</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 1;
              jobsInproCount.map(j =>{ %>
              <tr>
                <td><%=j.Job.title%></td>
                <td><%=j.Job.createdAt.toDateString()%></td>
                <td>$<%=j.Job.price%></td>
                <td><button class="status-button pending-button">
                    Ongoing
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Mark as Complete</a>
                        <a href="#">Go to Workspace</a>
                        <a href="#">Withdraw</a>
                      
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div> 
    
    <div class="col-md-12" id="jobComplete" style="display: none;">
        <p><%=jobCompCount%>  Job completed</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Design Mobile App UI</td>
                <td>15/07/2020</td>
                <td>Alex Amankwa</td>
                <td><button class="status-button accepted-button">
                    completed
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Request Payment</a>
                        <a href="#">Go to Workspace</a>
                        <a href="#">Delete</a>
                      
                    </div>
                    </div> </td>
              </tr>
            </tbody>
          </table>
    </div>    
</div>