<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>


<style>
   

    .freelancers-page-image {
        border-radius: 50%;
       height: 75px;
       width: 75px;

    }

    .freelancer-details h5 {
        color:#373833;
    }
    
    h5 {
        color: #373833;
    }

    .color-for-background {
        background-color: #e8e8e8;
    }

    .filtering {
        color: transparent;
        margin-bottom: 10px;
        
    }

    .card {
        box-shadow: none;
    }

    .freelancers-buttons {
        background-color: #0c4767;
        color: #FFFFFF;
        
    
    }

    .sticky-top {
        background-color: #e8e8e8;
        top: 70px;
    }
   

</style>

<div class="color-for-background">
    <div class="container-fluid" style="padding-left: 70px; padding-right: 70px;">

        <div class="container-fluid sticky-top">

            <div class="row">
    
                <div class="col-md-6 mt-5 ">
                    <h3 style="color: #0C4767;">Search Freelancers</h3>
                </div>
        
            </div>
    
            <div class="row">
    
                <div class="col-md-3">
    
                </div>
    
                <div class="col-md-3">
                    <h5 style="color: #0c4767;">Filter by</h5>
    
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
    
                </div>
                
            </div>
        
                
                    <div class="row">
        
                        <div class="col-md-3">
        
                            <div class="card mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0 bg-white mt-3 fa fa-search" id="basic-addon1"></span>
                                    <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            
                        </div>
            
                        <div class="col-md-3">
                            <div class="card mb-3">
                                <div class="card">
                                    <select class="custom-select border-0" id="Category" style="height: 40px;">
                                        <option class="">Category</option>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
            
                        <div class="col-md-3 ">
                            <div class="card mb-3">
                                <select class="custom-select border-0" id="Location" style="height: 40px;">
                                    <option class="">Location</option>
                                    <option></option>
                                </select>
                            </div>
                            
                        </div>
            
                        <div class="col-md-3">
                            <div class="card mb-3">
                                <select class="custom-select border-0" id="Skills" style="height: 40px;">
                                    <option class="">Skills</option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
            
                    </div>

        </div>

        
            <div class="container-fluid overflow-auto">
                <div class="row mt-5 mb-5 ">


                    <% count = 1;
                    freelancers.map(f =>{ 
                        let skills_arr = f.skills_name.split(',');                        
                        %>

                            <div class="col-lg-3 col-md-6 col-sm-8 ">
                                <div class="card mb-5">
                                    <div class="card-body">
        
        
                                   
                                        <div class="row mb-3"> 
                                            <div class="card-body d-flex">
                                                <div class="col-md-5">
                                                    <img src='../../vendors/img/2.jpg' class="freelancers-page-image img-fluid im-responsive mr-5" alt="...">
                                                </div>
                                               
                                                <div class="col-md-7">
                                                    <h5><%=f.firstname%> <%=f.lastname%></h5>
                    
                                                    <div>
                                                        <h5><%=f.jobtitle%></h5>
                                                    </div>
                            
                                                    <div>
                                                        <span ><i class="fa fa-map-marker" style="color: red;" ></i>&nbsp;<%=f.city%>, <%=f.country%></span>
                                                    </div>
                                                </div>
            
                                            </div>  
                                        </div>
            
                                        <div class=" row col-md-12">
                                            <div>
                                                <h5>Description</h5>
                                            </div>
                                                      <br>
                                            <div>
                                                <p><%=f.golden_paragraph%></p>
                                            </div>
                                        </div>
                
                                        <div class="row col-md-12 mt-3">
                                            <div>
                                                <h5>Skills</h5>
                                            </div>
                                        </div>
            
                                        <div class="row mb-5 justify-content-around ">
                                            <% skills_arr.map(sk=>{ %>
                                            <div class="col-md-3 mr-1  badge badge-secondary">
                                                <%=sk%>
                                            </div>
                                           <% }); %>
                                            
                                        </div>
            
            
                                        <div class="row mb-5 ">
                                            <div class="col-md-12">
                                                <div class="justify-content-between border-0 d-flex">
                                                    <span>
                                                        <small>
                                                            <div class="alert alert-dark">
                                                            <span ><i class="fa fa-briefcase" ></i>&nbsp; 5 Projects</span>
                                                            </div>
                                                        </small> 
                                                    </span>
                    
                                                    <span>
                                                        <small>
                                                            <div class="alert alert-dark">
                                                            <span ><i class="fa fa-stopwatch" ></i>&nbsp; <%=f.availability%></span>
                                                            </div>
                                                        </small> 
                                                    </span>
                                                </div>
                                            </div>
                                        
                                        </div>
            
                                        
                                                <button class=" form-control btn-block  freelancers-buttons">Connect</button>
                                        
                                    </div>
            
                                </div>
                                    
                            </div>
                    <% count++; }); %>    
                </div>
            </div>
    </div>
</div>

<% include ./layout/footer-public.ejs %>